{% extends 'base.html' -%}

{% block content -%}
{{ super() }}

{% for category, message in get_flashed_messages(True) -%}
    <div class="flash {{ category }}">{{ message }}</div>
{% endfor -%}

<p class="start_text">Всем привет!!!</p>
<p class="start_text">Это мой второй проект на тему web-приложений, написанный на микро фреймворке Flask. Следующий проект не скоро, 
    да и написан он будет уже на новом для меня фреймворке Django.
</p>
<p class="start_text"><a class="start_buttons" href="https://github.com/ProcenkoVacheslav/Flask-redit" target="_blank">Ссылка на исходный код проекта</a></p>
<p class="start_text"><a class="start_buttons" href="https://github.com/ProcenkoVacheslav" target="_blank">Ссылка на мой GitHub</a></p>

{% endblock content -%}