{% extends 'base.html' -%}

{% block content -%}
{{ super() }}

{% for category, message in get_flashed_messages(True) -%}
    <div class="flash {{ category }}">{{ message }}</div>
{% endfor -%}

<input class="back_button" style="margin-top: 1%;" type="button" onclick="history.back();" value="Назад"/>

<form action="{{ url_for('profile.upload') }}" method="post" enctype="multipart/form-data">
    
    <div class="profile_grid_contener">
        
        <div class="grid_avatar">
            <div class="img">
                {% if avatar -%}
                    <p><img class="profile_img" src="{{ url_for('profile.userava') }}"></p>
                {% else -%}
                    <p><img class="profile_img" src="{{ url_for('static', filename='img/default.png') }}"></p>
                    <div>
                        <label class="input-file_2">
                            <input type="file" name="file">		
                            <span>Выберите файл</span>
                        </label>
                        <p><input class="input_file" type="submit" value="Загрузить"></p>
                    </div> 
                {% endif -%}
            </div>
            <div class="folowers">
                <p class="folowers_information">Вы подписаны</p> 
                <p class="folowers_information"><a class="folowers_button" href="{{ url_for('profile.you_follow') }}">{{ my_folowers }}</a></p>
                <p class="folowers_information">На вас подписаны</p> 
                <p class="folowers_information"><a class="folowers_button" href="{{ url_for('profile.follow_you') }}">{{ folowers }}</a></p>
                <p class="folowers_information">Всего записей</p>
                <p class="folowers_information"><a type="submit" class="folowers_button" href="{{ url_for('profile.my_posts') }}">{{ posts_count }}</a></p>
                <p class="folowers_information">Понравилось</p>
                <p class="folowers_information"><a type="submit" class="folowers_button" href="{{ url_for('profile.like_posts') }}">{{ likes_count }}</a></p>
            </div>
            <div class="date_info">
                <p>Является пользователем с {{ date }}</p>
            </div>
        </div>

        <div class="grid_folowers">
            <p class="about_information">О канале</p>

            <div class="grid_folowers_main"> 
                {% if chanel_info -%}
                <p class="chanel_info">{{ chanel_info }}</p>
                {% else -%}
                <p class="chanel_info">Информация отсутствует</p>
                {% endif -%}
            </div>

            <div class="buttom_block">
                <hr width="100%" color="black">
                <p class="change_information"><a class="change_information_button" href="{{ url_for('profile.change_chanel_information') }}">Изменить</a></p>
            </div>
        </div>

        <div class="grid_about_me">
            <p class="profile_name">Информация о вас</p>
            <div class="grid_about_me_main">
                {% for row in user_data -%}
                    <p class="profile_info">{{ row['title'] }} 
                        {% if row['data'] -%}
                            <span class="span_data">{{ row['data'] }}</span>
                        {% endif -%}
                    </p>
                {% endfor -%}
            </div>
            
            <div class="change_block">
                <hr width="100%" color="black">
                <p class="change_information"><a class="change_information_button" href="{{ url_for('profile.change_information') }}">Изменить</a></p>
            </div>
        </div>

        <div class="grid_exit">
            <p class="submit_field"><a id="else_button" href="{{ url_for('profile.logout') }}">Выйти из акаунта</a></p>
        </div>
    </div>
</form>

{% endblock content -%}